
body {
  width:100%;
  height:100%;
  margin:0;
  padding: 0;
  font-size: 90%;
  font-family: Didact Gothic, sans-serif;
  background-color: #6C675F;
}

.button {
  position: relative;
  z-index: 10;
  height: 40px;
  width: 120px;
}

p {
  font-size: 0.9em;
}

h1 {
  animation-name: fadeInOut;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

.is-hidden {
  display: none;
}


.vraag-antwoord-box {
  position: absolute;
  display: inline-block;
  z-index: 10;
  margin-top:3%;
  top:3%;
  width: 80%;
  height:30%;
  transform: translate(10%, -20%);
  text-align: center;
}

.outer-div {
  position: relative;
}

.main-svg {
  position: absolute;
  z-index: 1;
  top:0;
}

.pop-svg {
  position: absolute;
  z-index: 40;
  top:0;
  pointer-events: none;
}

.vraag {
  display: none;
  pointer-events: none;
  text-anchor: middle;
  font-size: 1.2em;
  font-weight: 600;
  color: #102d43;
}

.antwoord {
  display: none;
  pointer-events: none;
  width: 70%;
  transform: translate(30%, 0%);
  text-align: left;
  font-size: 0.9em;
  font-weight: 600;
  color: #292828;
}

.man-svg {
  position: absolute;
  top:0;
  pointer-events: none;
  opacity: 0;
}

.copy-popup {
    position: absolute;
    min-height: 50px;
    min-width: 350px;
    z-index: 20;
    width: 40%;
    height: 80%;
    transform: translate(70%, 20%);
    background-color: #fafafa;
    box-shadow: 15px 10px 78px -28px rgba(120,117,112,0.80);
    border-radius: 8px;
    display: none;
}

.input-field {
  margin: 15px;
  margin-right: 10px;
  width: 200px;

}

.popup {
  position: absolute;
  min-height: 250px;
  min-width: 300px;
  z-index: 20;
  width: 40%;
  height: 80%;
  transform: translate(70%, 20%);
  text-align: center;
  background-color: #fafafa;
  box-shadow: 15px 10px 78px -28px rgba(120,117,112,0.80);
  border-radius:8px;
  display: none;
}

.popup-text {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
}

.popup-title {
  padding-top: 3%
}

.popup-button {
  background-color:#585757;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
  border: none;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:14px;
  padding:12px 20px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
}

.popup-button:hover {
  background-color:#7e7d7d;
}

.popup-button:active {
  border:none;
  position:relative;
  top:1px;
}

.copy-popup-button {
  background-color:#585757;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  border: none;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:12px;
  padding:4px 7px;
  margin: 5px;
  float: right;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
}

.copy-popup-button:hover {
  background-color:#7e7d7d;
}

.copy-popup-button:active {
  border:none;
  position:relative;
  top:1px;
}
 .loading {
  position: absolute;
 }

.svg-button {
  cursor: pointer;
}  

.end-page {
  position: absolute;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 980px;
}
.container img {
  width: 100%;
  max-width: 980px;
}

.start {
/*  background: #a53015;*/
  background: white;
}

.start-button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;

}

.start-vraag {
  position: absolute;
  display: inline-block;
  z-index: 10;
  margin-top:3%;
  top:3%;
  width: 70%;
  height:30%;
  transform: translate(20%, -20%);
  text-align: center;
  text-anchor: middle;
  font-size: 1.1em;
  font-weight: 600;
  color: #102d43;
}

.speel-button {
  background-color:#71956c;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
  border: none;
  display:inline-block;
  color:#ffffff;
  font-size:14px;
  padding:12px 20px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
  margin: 10px;
  font-family: Fira Sans;
  z-index: 30;
}

.speel-button:active{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


