body {
  width:100%;
  height:100%;
  overflow:scroll;
  margin:0;
  margin-bottom: 5em;
  padding: 0;
  font-size: 100%;
  font-family: Catamaran, sans-serif;
  background-color: #6C675F;
}

.vraag-antwoord-box {
  position: absolute;
  z-index: 10;
  margin-top:3%;
  top:3%;
  width: 80%;
  height:30%;
  transform: translate(10%, -20%);
  text-align: center;
}

.outer-div {
  position: relative;
}

.main-svg {
  position: absolute;
  z-index: 1;
  top:0;
}

.duurzaam-svg {
  position: absolute;
  z-index: 20;
  top:0;
  pointer-events: none;
}

.vraag {
  text-anchor: middle;
  font-size: 1.4em;
  font-weight: 600;
  color: #102d43;
}

.antwoord {
  width: 60%;
  transform: translate(40%, 0%);
  text-align: left;
  font-size: 1.0em;
  font-weight: 400;
  color: #585757;
}



